.container {
  height: 100dvh;
  background-color: #1a1919;
}

.container > div > div {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  pointer-events: none;
  justify-content: start !important;
  font-family: "Kanit", sans-serif;
  line-height: 0px;
  text-transform: uppercase;
}

.number {
  font-size: 300px;
  color: #545864;
}

.number span {
  display: inline-block;
  position: relative;
}

.slopeBegin {
  clip-path: polygon(20% 0, 70% 0, 50% 100%, 0% 100%);
}

.slopeEnd {
  clip-path: polygon(70% 0, 100% 0, 80% 100%, 50% 100%);
}

.slopeBegin,
.slopeEnd {
  position: absolute;
  width: 280%;
  height: 250%;
  cursor: pointer;
}

.pink {
  background: linear-gradient(to right, #92a8d1ff 0%, #034f84ff 100%);
  opacity: 0.9;
}

.teal {
  background: linear-gradient(to right, #bfd7edff 0%, #6b5b95ff 100%);
  opacity: 0.9;
}
